body {
    background-color: #25292e;
}
.p-notice-admin {
    top: @header-height !important;

    .el-drawer {
        box-shadow: -5px -5px 12px rgba(0, 0, 0, 0.1) !important;
    }
}
.m-notice-content {
    min-height: 100vh;
    max-width: calc(100% - 400px);
    .auto(x);
    .pt(64px);
    .m-top-img {
        .size(100%,180px);
        margin: 40px 0;
    }
    .u-back {
        .pointer;
        .size(240px,40px);
        .flex;
        align-items: center;
        color: #fff;
        &::before {
            content: "< ";
            font-size: 20px;
            .mr(5px);
        }
    }
    .m-single-header {
        .mb(34px);
        .m-single-title {
            .flex;
            .fz(32px,42px);
            margin: 20px 0;
            color: #fff;
            align-items: center;
            gap: 5px;
            &::before {
                content: "";
                .db;
                .size(12px,42px);
                background-color: #3778e5;
            }
        }
        .m-single-info {
            color: #fff;
            .u-type {
                .mr(20px);
                color: #fff;
                padding: 4px 12px;
                background-color: #3778e5;
                &.u-edit {
                    .ml(20px);
                    background-color: transparent;
                    opacity: 0.8;
                }
            }
            .u-update {
                .tm(0.5);
            }
            .c-admin-button {
                .fr;
            }
        }
    }
    .u-left-title {
        .pf;
        .z(2);
        .size(40px,auto);
        .fz(16px);
        .x(right);
        right: 50%;
        bottom: 0;
        color: #fff;
        writing-mode: vertical-rl;
        user-select: none;
        pointer-events: none;
        width: calc(50% + 340px);
        transform: translateX(-50%);
        span {
            .flex;
            justify-content: flex-end;
            width: 24px;
            gap: 5px;
            &::after {
                content: "";
                .db;
                .size(100%,10px);
                background-color: #3778e5;
            }
        }
    }
    .m-single-box {
        .pr;
        .mb(34px);
        padding: 40px 60px 40px 40px;
        background-color: #fff;
        .u-title-top {
            .pa;
            .rt(0);
            .size(128px,138px);
            background: url("../../img/notice/top-bg.png") #121417 no-repeat top right;
            background-size: 128px 138px;
        }
    }
    .c-right-affix {
        .r(0);
        right: 50%;
        top: 500px;
        margin-right: calc(-50% + 320px);
    }
}
.c-admin.p-notice-admin {
    top: 64px !important;
}
@media screen and (max-width: @ipad) {
    .m-notice-content {
        width: 100%;
        max-width: calc(100% - 40px);

        .m-single-header {
            .m-single-title {
                .fz(18px,32px);
            }
            .m-single-info {
                .pr;
                .c-admin-button {
                    .pa;
                    .rb(0,-50px);
                    .z(2);
                    zoom: 0.6;
                }
            }
        }
        .m-single-box {
            padding: 20px 30px 20px 20px;
            .u-title-top {
                zoom: 0.3;
            }
        }
    }
}
