@import "./var.less";
@import "./sideblock.less";

body {
    min-height: 2000px;
}

@index-bg: #f6f8fa;
body {
    background-color: @index-bg;
}
body::before {
    top: 0;
    background: @index-bg;
}
.m-main {
    background-color: @index-bg;
    .auto(x);
    .flex;
}
.m-left {
    flex-basis: @left;
    .w(@left);
    flex-shrink: 0;
    // .fl;
    // .z(9);
    // .pf;
    // .lt(0, @header-height);
    // bottom: 60px;
    padding: @layout-padding;
    box-sizing: border-box;
    // overflow: auto;
    // height: calc(100vh - @header-height);
    // overflow-y: auto;
}
.m-primary {
    flex: 1 1 0;
    width: 0;
    min-width: 0;
    // margin-left: @left;
    // width: calc(100vw - @left - 40px);
    padding: @layout-padding @layout-padding @layout-padding 0;
    // margin-left: @left;
}
.m-primary__main {
    position: relative;
    overflow-x: hidden;
    .flex;
    gap: 20px;
    .m-primary__main-left {
        flex: 1;
        min-width: 0;
    }
    .m-primary__main-right {
        flex: 0 0 320px;
        width: 320px;
        min-width: 320px;
    }
    @media screen and (max-width: @phone) {
        flex-direction: column;
        .m-primary__main-left,
        .m-primary__main-right {
            width: 100%;
        }
    }
}
@media screen and (max-width: @ipad) {
    .m-main {
        .flex;
        flex-direction: column;
    }
}
@media screen and (max-width: @ipad) {
    .m-left {
        flex: none;
        position: static;
        padding-top: 0;
        .w(auto);
        height: unset;
        order: 2;
    }
}
@media screen and (max-width: @ipad) {
    .m-primary {
        .w(auto);
        margin-left: 0;
        padding: 20px;
        order: 1;
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: @ipad) {
    .c-footer,
    .c-footer--v4 {
        order: 99;
    }

    .wechat-miniprogram {
        .m-main {
            margin-top: 0;
        }

        .m-left {
            top: 0;
        }
    }
}

.v-miniprogram {
    .m-main {
        .mt(0);
    }
}
