.m-jx3code {
    .m-jx3code-header {
        .flex;
        justify-content: space-between;

        .u-left {
            .flex;
            align-items: center;
        }

        .u-title {
            font-weight: 700;
        }

        .u-time {
            font-size: 10px;
            color: @v4tip;
        }

        .u-right {
            .flex;
            align-items: center;
        }
    }
    .m-jx3code-content {
        padding: 20px 0 10px 0;
        .u-codebox {
            .r(4px);
            .x;
        }
        .u-code {
            .fz(22px);
            .bold;
            font-style: italic;
            .pointer;
        }
        .u-desc,
        .u-name {
            .fz(11px,1);
            color: @v4text;
            font-weight: 500;
        }
        .u-name{
            .underline(3px,solid,@v4text);
        }
    }
}
