.m-jx3code {
    padding: 0;
    // overflow: hidden;

    .m-jx3code-header {
        .flex;
        justify-content: space-between;
        padding: 15px 15px 10px 15px;

        .pr;

        @sunken: 4px;

        .u-left {
            .flex;
            align-items: center;
            white-space: nowrap;

            &::after {
                content: "";
                display: block;
                width: @sunken*2;
                height: @sunken*2;
                background: @index-bg;
                border-radius: 50%;
                left: -@sunken;
                bottom: -@sunken;
                position: absolute;
                z-index: 1;
                box-shadow: inset -2px 0px 1px #d4dde7;
            }
        }

        .u-right {
            .flex;
            align-items: center;
            justify-content: flex-end;
            flex: 1;

            &::after {
                content: "";
                display: block;
                width: @sunken*2;
                height: @sunken*2;
                background: @index-bg;
                border-radius: 50%;
                right: -@sunken;
                bottom: -@sunken;
                position: absolute;
                z-index: 1;
                box-shadow: inset 2px 0px 1px #d4dde7;
            }
        }

        .u-title {
            font-weight: 700;
        }

        .u-time {
            font-size: 10px;
            color: @v4tip;
        }

        &::after {
            position: absolute;
            bottom: 0;
            left: 0;
            content: "";
            .db;
            height: 1px;
            width: 100%;
            background: repeating-linear-gradient(to right, #ececec 0 4px, transparent 4px 8px);
        }
    }
    .m-jx3code-content {
        padding-bottom: 10px;
        .u-codebox {
            .r(4px);
            .x;
            padding:20px;

            &:not(:first-child) {
                border-top: 1px dotted #ddd;
            }
        }
        .u-code {
            .fz(22px);
            .bold;
            font-style: italic;
            .pointer;
        }
        .u-desc,
        .u-name {
            .fz(11px,1);
            color: @v4text;
            font-weight: 500;
        }
        .u-name {
            .underline(3px,solid,@v4text);
            &:hover {
                color: @v4primary;
                .underline(3px,solid,@v4primary);
            }
        }
    }

    .pr;
    &::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: -1px;
        height: 5px;
        width: 100%;
        background: #ffe664;
        .z(1);
    }

    // 底部锯齿（券样式）- 伪元素背景重复（三角形循环）
    // border-bottom: 0 !important;
    // &::after {
    //     @tooth: 8px; // 锯齿宽度
    //     @depth: 5px; // 锯齿高度
    //     @edge: rgba(229, 231, 235, 0.65);
    //     @fadeTo: @index-bg;

    //     content: "";
    //     position: absolute;
    //     left: 0;
    //     right: 0;
    //     bottom: -1px;
    //     height: @depth;
    //     pointer-events: none;
    //     background-image: linear-gradient(135deg, transparent 72%, @edge 0),
    //         linear-gradient(225deg, transparent 72%, @edge 0),
    //         linear-gradient(to bottom, #fff 0%, @fadeTo 100%);
    //     background-size: @tooth @depth, @tooth @depth, 100% 100%;
    //     background-repeat: repeat-x, repeat-x, no-repeat;
    //     background-position: 0 0, 0 0, 0 0;
    // }
}
