.m-about-text {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 48px 48px 56px;
    color: #666;
    font-family: "OPPOSans", "Microsoft YaHei", sans-serif;
    font-size: 16px;
    line-height: 32px;
    overflow: auto;
    .scrollbar();

    h1 {
        text-align: center;
        margin-top: 0;
        color: #333;
        font-size: 28px;
        line-height: 1.4;
    }

    h2,
    h3,
    h4 {
        color: #333;
        line-height: 1.5;
    }

    p {
        margin: 0 0 16px;
    }

    table {
        border-collapse: collapse;
        .w(100%);
        td,
        th {
            border: 1px solid #eee;
            padding: 10px;
        }
    }

    a {
        .underline(@color-link);
    }

    pre {
        white-space: pre-wrap;
        word-break: break-all;
    }
}

.m-about-meta {
    .x;
    margin-bottom: 12px;
}

@media screen and (min-width: 721px) and (max-width: 1280px) {
    .m-about-text {
        padding: 28px 30px 34px;
        font-size: 13px;
        line-height: 24px;

        h1 {
            font-size: 20px;
        }
    }
}
